@gray: #a5a5a8;
@lgray: #efeff4;
@red: #FF2719;
@lred: #FF61AD;
@blue: #2992FC;
@lblue: #21C0FC;
/**
* Header
*/
@header-background-color: #2992FC;
@header-title-color: #fff;
@header-text-color: #fff;
@header-arrow-color: #fff;
// tab激活颜色
@tabbar-text-active-color: #2992FC;

/**
* en: the background color of the warn type
* zh-CN: warn类型的背景颜色
*/
@button-warn-bg-color: #FF61AD;
/**
* en: the background color of the warn type in active
* zh-CN: active状态下，warn类型的背景颜色
*/
@button-warn-active-color: #ea599f;
/**
* en: the background color of the warn type in disabled
* zh-CN: disabled状态下，warn类型的背景颜色
*/
@button-warn-disabled-bg-color: #ff89b9;
